/***
  HOME
 ***/

.Home {
  margin-top: 3em;
}

.Home h1 {
  font-family: 'Georgia';
  font-size: 300%;
  letter-spacing: -0.1rem;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 480px) {
  .Home h1 {
    font-size: 250%;
  }
}

@media screen and (max-width: 320px) {
  .Home h1 {
    font-size: 200%;
  }
}

/***
  HEADSHOT
 ***/

#headshot {
  border-radius: 50%;
  width: 320px;
  float: right;
  margin: -64px 0 24px 16px;
}

@media screen and (max-width: 768px) {
  #headshot {
    float: none;
    display: block;
    width: 280px;
    margin-right: auto;
    margin-bottom: 16;
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  #headshot {
    width: 240px;
  }
}

@media screen and (max-width: 360px) {
  #headshot {
    width: 200px;
  }
}